
<div class="closeIcon"><img src="../../public/media/cross-icon.png" alt="Icon en forme de croix" width="48" height="48"></div>
<div id="contentModal">
    <div>
        <div>
            <p>{{posts.category_name}}</p>
            <span></span>
            <p>Nom : {{posts.user_name}}</p>
            <p>Prénom : {{posts.user_firstname}}</p>
            <p>Adresse mail : {{posts.user_mail}}</p>
            <p>Téléphone : {{posts.user_phone}}</p>
            <span></span>
        </div>
        <div>
            <img src="media/user_uploads/{{posts.picture}}" alt="image d'illustration">
        </div>
    </div>
    <div>
        <h5>{{posts.title}}</h5>
        <p>{{posts.description}}</p>
    </div>
</div>