
<div class="closeIcon"><img src="media/cross-icon.png" alt="Icon en forme de croix" width="48" height="48"></div>
<div id="contentModal">
    <div>
        <div>
            <div>
                <p>{{posts.category_name}}</p>
                <a href="/ajax-pdf?unique_id={{ posts.unique_id }}" target="_blank" rel="noopener noreferrer">Télécharger l'annonce en PDF</a>
            </div>
            <span></span>
            <p>Nom : {{posts.user_name}}</p>
            <p>Prénom : {{posts.user_firstname}}</p>
            <p>Adresse mail : <a href="mailto:{{ posts.user_mail }}">{{posts.user_mail}}</a></p>
            <p>Téléphone : <a href="tel:{{ posts.user_phone }}">{{posts.user_phone}}</a></p>
            <span></span>
        </div>
        <div>
            <img src="media/user_uploads/{{posts.picture}}" alt="image d'illustration">
        </div>
    </div>
    <div>
        <h5>{{posts.title}}</h5>
        <p>{{posts.description}}</p>
    </div>
</div>