<div id="modalDetail">
    <div id="contentModal">
        <div>
            <div>
                <p>{{name}}name</p>
                <p>{{firstname}}firstname</p>
                <p>{{mail}}mail</p>
                <p>{{phone}}phone</p>
            </div>
            <div>
                <img src="{{picture}}" alt="image d'illustration">
            </div>
        </div>
        <div>
            <p>{{title}}title</p>
            <p>{{description}}lorem</p>
        </div>
    </div>
</div>