<div id="modalDetail" class="active">
    <div id="closeIcon"><img src="../../public/media/cross-icon.png" alt="Icon en forme de croix" width="48" height="48"></div>
    <div id="contentModal">
        <div>
            <div>
                <p>{{posts.name}}</p>
                <p>{{posts.firstname}}</p>
                <p>{{posts.mail}}</p>
                <p>{{posts.phone}}phone</p>
            </div>
            <div>
                <img src="{{posts.picture}}" alt="image d'illustration">
            </div>
        </div>
        <div>
            <p>{{title}}title</p>
            <p>{{description}}lorem</p>
        </div>
    </div>
</div>