{% for post in posts %}
<div class="product">
    <div class="illustration">
        {% if post.picture != 'placeholder.jpg' %}
            <img src="media/{{post.picture}}" alt="illustration" width="600" height="398">
        {% else %}        
            <img src="media/default.jpg" alt="illustration" width="600" height="398">
        {% endif %}
        <div class="categorie">{{post.category_name}}</div>
    </div>

    <div class="detailPost">
        <div class="titlePost">
            <p><strong>{{post.title}}</strong></p>
        </div>
        <p class="description">{{post.description}}</p>

    </div>

    <!-- <p><strong>id: </strong>{{post.id}}</p><br>
    <p><strong>picture: </strong>{{post.picture}}</p><br>
    <p><strong>date_creation: </strong>{{post.date_creation}}</p><br>
    <br><hr> -->
              
</div>
{% endfor %}


